/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Impact;
    src: url('./pages/assets/fonts/Impact.ttf');
}
@font-face {
    font-family: 'Bodoni MT';
    src: url('./pages/assets/fonts/Bodoni\ MT.TTF');
}

body {
    overflow-x: hidden;
}